* {
  margin: 0;
  padding: 0;
}
.imgbox {
  display: grid;
  height: 100%;
}
#breakbuddy-main {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  margin: auto;
  -webkit-app-region: drag;
  }
