body {
  background-image: url("background.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 10px;
  max-width: 38rem;
  padding: 0.5rem;
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#character-image {
  position: relative;
  top:50px;
  left: 200px;
  margin: auto;
  width: 200px;
  height: auto;
}

#breakbuddy-start {
  float: right;
}

#break-time-div {
  float: right;
}


.box-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#box0 {
  padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border: solid 1px white;
}

#box1 {
  flex-grow: 2;
  border: solid 1px black;
}

#box2 {
  flex-grow: 1;
  border: solid 1px black;
}


.btn-group button {
  display: block; /* Make the buttons appear below each other */
  padding: 5px;
  border-radius: 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: green;
}

